<div class="dash">
    <h1>Create board</h1>
    <form (ngSubmit)="onSubmitBoard()" [formGroup]="form">
        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName='name' placeholder="Name">
            <mat-error *ngIf="form.controls.name.errors?.['required']">Name required
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
    <h1>Your boards</h1>
    <ul>
        <li *ngFor="let board of yourBoards" (click)="toBoard(board.id)">{{board.name}}</li>
    </ul>
    <h1>Guest boards</h1>
    <ul>
        <li *ngFor="let board of guestBoards" (click)="toBoard(board.id)">{{board.name}}</li>
    </ul>
</div>