/* You can add global styles to this file, and also import other style files */
$indigo:#3f51b5;
$color-blue-light:#d2d9ff;
$pink:#ff4081;
$pink-light:#ff9ebe;

html, body { height: 100%; overflow: hidden}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    margin-left: 9vw;
    margin-right: 9vw;
}

.accept{
    background-color:$color-blue-light;
}

.mat-dialog-container{
    box-shadow: -6px 7px 20px 3px;
}

.inputs{
    display: flex;
    flex-direction: column;
}