<section *ngIf="board">
    <h1>{{board.name}} <i *ngIf="authService.user?.id==board.owner.id" (click)="onDeleteBoard()" class="material-icons">delete</i><a routerLink="settings"><i *ngIf="authService.user?.id==board.owner.id" class="material-icons">settings</i></a></h1>
    <section class="column-container" cdkDropListGroup>
        <div *ngFor="let column of board.columns" class="column" cdkDropList [cdkDropListData]="column.notes"  (cdkDropListDropped)="drop($event)">
            <h2>{{column.name}} <i (click)="onDeleteColumn(column)" class="material-icons">delete</i></h2>
            <div class="note" *ngFor="let note of column.notes" (click)="openNoteDialog(note,column.id)" cdkDrag >
                <h3><strong>{{note.name}}</strong></h3>
                <div>
                    {{note.description}}
                </div>
            </div>
            <i (click)="openNoteFormDialog(column.id)" class="material-icons">add</i>
        </div>
    </section>
    <button mat-raised-button color="primary" (click)="openNewColumnDialog()">New column</button>
</section>

