[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
mysqlclient = "*"
ipython = "*"
django-cors-headers = "*"
python-dotenv = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-rest-swagger = "*"
coreapi = "*"
PyYAML = "*"
drf-yasg = "*"
coverage = "*"
tblib = "*"

[dev-packages]

[requires]
python_version = "3.8"
